*{
    box-sizing: border-box;
}

#root {
  max-width: 100%;
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.addNews{
  margin-bottom: 40px;
}

.input {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 30px;
}

.textarea{
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 30px;
}

.newsList{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.newsItem{
  flex: 1 1 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  min-width: calc(33.333% - 10px);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px 16px;
  color: #242424;
}

.newsItemContent{
  max-width: 100%;
  overflow: hidden;
}

.newsItemTitle{
  font-size: 22px;
  margin-bottom: 10px;
}

.newsItemContent input{
  margin-right: 0;
  margin-bottom: 10px;
  width: 100%;
}

.newsItemContent textarea{
  width: 100%;
  min-height: 140px;
}

.control{
  margin-top: 20px;
}

.control button{
  margin-right: 10px;
}

.control button:last-child{
  margin-right: 0;
}

@media (max-width: 900px) {
  .newsItem {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
    min-width: auto;
  }
}

@media (max-width: 600px) {
  .newsItem {
    flex: 1 1 calc(100%);
    max-width: calc(100%);
  }

  .input{
    width: 100%;
  }
}